
* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: titulo;
    src: url(../ASSETS/FONTS/JosefinSans-VariableFont_wght.ttf);
}

@font-face {
    font-family: menu ;
    src: url(../ASSETS/FONTS/LibreBaskerville-Bold.ttf);
}

@font-face {
    font-family: menu2;
    src: url(../ASSETS/FONTS/JosefinSans-Italic-VariableFont_wght.ttf);
}


/* -----------HEADER---------- */


header {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 10vh;
    background-color:#191D20
    
}

header h1 {
    font-family:titulo;
    font-size: 1.3rem;
    color: #f8f8f8;
    padding: 3px;
    margin: 5px;
    margin-top: 10px;
}

header nav  {
    display: flex;
    text-align: center;
    justify-content:space-around;
    align-content: end;
    margin-top: 10px;
    
}

header nav a {
    text-decoration: none;
    font-family: menu;
    font-size: .8rem;
    color: #a6a5a095;
}


/* ----------BANNER----------- */

.banner {
    /* display: flex;
    align-items: center; */
    width: 100vw;
    height: 40vh;
    /* border: 1px solid green; */
    
    background: linear-gradient(to right, #191D20 20% , transparent),
    url("../ASSETS/DSCN4607.jpg");
    background-color: #191D20;
    background-size: cover;
    background-repeat: no-repeat;
    background-position:3cm;
    
}

.banner div {
    padding: 10px;
}




#hi {
    font-family: menu2;
    font-size: 1.5rem;
    margin-top: 30px;
}

.banner h2 {
    font-family: titulo;
    font-size: 2.5rem;
    color: #f8f8f8;
    margin-top: 15px;
}


.banner button {
    width: 40vw;
    height: 5vh;
    margin: 25px;
    border: none;
    border-radius: 20px;
    background-color: #672130;
    color: #f8f8f8;
    font-family: menu;
}

.icon {
    font-size: 1.3rem;
}



.banner h3 {
    font-family: menu;
    font-size: .8rem;
    font-style: italic;
    color: #f8f8f8;
    margin-top: 10px;
    
}


/* ----------GALERIA---------- */

.galery h1 {
    margin: 10px;
    font-family: menu;
    font-size: 1rem;
    text-align: center;
}


 .galery div {
    width: 100vw;
    height: 40vh;
    display: flex;
    overflow-y: scroll;
    scroll-behavior:smooth;
    
}


.galery img {
    width: 30vw;
    height: 30vh;
    margin: 7px;
    border-radius: 20px;
    
}

.galery div .up {
    
    align-self: flex-end;
    
}

.galery div .down {
    align-self: flex-start;
    
} 
