
* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: titulo;
    src: url(../ASSETS/FONTS/JosefinSans-VariableFont_wght.ttf);
}

@font-face {
    font-family: menu ;
    src: url(../ASSETS/FONTS/LibreBaskerville-Bold.ttf);
}

@font-face {
    font-family: menu2;
    src: url(../ASSETS/FONTS/JosefinSans-Italic-VariableFont_wght.ttf);
}


body {
    background-color: #f8f8f8;;
}


/* -----------HEADER---------- */


header {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 10vh;
    background-color:#191D20
    
}

header h1 {
    font-family:titulo;
    font-size: 1.3rem;
    color: #f8f8f8;
    padding: 3px;
    margin: 5px;
    margin-top: 10px;
}

header nav  {
    display: flex;
    text-align: center;
    justify-content:space-around;
    align-content: end;
    margin-top: 10px;
    
}

header nav a {
    text-decoration: none;
    font-family: menu;
    font-size: .8rem;
    color: #a6a5a095;
}


/* ----------BANNER----------- */

.banner {
    /* display: flex;
    align-items: center; */
    width: 100vw;
    height: 40vh;
    /* border: 1px solid green; */
    
    background: linear-gradient(to right, #191D20 20% , transparent),
    url("../ASSETS/DSCN4607.jpg");
    background-color: #191D20;
    background-size: cover;
    background-repeat: no-repeat;
    background-position:3cm;
    
}

.banner div {
    padding: 10px;
}




#hi {
    font-family: menu2;
    font-size: 1.5rem;
    margin-top: 30px;
}

.banner h2 {
    font-family: titulo;
    font-size: 2.5rem;
    color: #f8f8f8;
    margin-top: 15px;
}


.banner button {
    width: 40vw;
    height: 5vh;
    margin: 25px;
    border: none;
    border-radius: 20px;
    background-color: #672130;
    color: #f8f8f8;
    font-family: menu;
}

.icon {
    font-size: 1.3rem;
}



.banner h3 {
    font-family: menu;
    font-size: .8rem;
    font-style: italic;
    color: #f8f8f8;
    margin-top: 10px;
    
}


/* ----------GALERIA---------- */

.galery h1 {
    margin: 10px;
    font-family: menu;
    font-size: 1rem;
    text-align: center;
}


 .galery div {
    width: 100vw;
    height: 40vh;
    display: flex;
    overflow-y: scroll;
    scroll-behavior:smooth;
    
}


.galery img {
    width: 30vw;
    height: 30vh;
    margin: 7px;
    border-radius: 20px;
    
}

.galery div .up {
    
    align-self: flex-end;
    
}

.galery div .down {
    align-self: flex-start;
    
} 



/* --------ACERCA DE MI---------- */


.aboutMe {

    margin: 20px;
    text-align: justify;
}

.aboutMe h1 {

    margin-top: 40px;
    font-family: titulo;
    
}

.aboutMe h2 {
     
    font-family: menu;
    font-size: 1rem;
    margin-top: 10px;
}

.aboutMe p {
    padding: 30px;
    font-family: menu;
    font-style: italic;
    font-size: .7rem;
    line-height: 25px;
}




/* ----------PARTNERS---------- */


.partnerTitle {
    padding: 10px;
    font-family: titulo;
    font-size: 1.5rem;
    text-align: center;
    color: #f8f8f8;
    background-color: #672130;
}

.partner1 {
    width: 100vw;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    
    
    
}

.partner1 div {
    margin: 20px;
    text-align: center;
    width: 80vw;
    padding: 20px;
    background-color: #191D20;
    color: #f8f8f8;
    border-radius: 20px;
    
    
}

.partner1 p {
    margin: 10px;
    font-family: menu;
    font-size: .8rem;
}


.logo1 {
    display: flex;
    justify-content:space-evenly;
    margin: 20px;
    
}

.logo1 img {
    width: 20vw;
    height: 10vh;
    border-radius: 50px;
}



/* ---------FOOTER---------- */


footer {
    width: 100vw;
    
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-image: linear-gradient(to top, #191D20 90%, #f8f8f8);
}


.ftBanner {
    width: 30vw;
    
}h3 {
    text-align: center;
    font-family:titulo;
    font-size: 1rem;
    color: #f8f8f8;
    padding: 3px;
    margin: 5px;
    margin-top: 10px;
} h4 {
    font-size: .8rem;
    color: #f8f8f8;
    margin: 5px;
    padding: 5px;
    text-align: center;
}



.ftLinks {
    padding-top: 20px ;
}

a {
    width: 20vw;
    margin: 5px;
    
    text-align: center;
    display: flex;
    justify-content: center;
    line-height: 25px;

    text-decoration: none;
    color: #a6a5a095;
}

#ftContact {
    justify-content: center;
    margin: 5px;
    padding-top: 25px;
} h3 {
    color: #f8f8f8;
    font-size: 1rem;
}  h4 {
    color: #f8f8f8;
    font-size: .8;
}

